bin/*
!bin/README.md
obj/*
!obj/README.md
.DS_Store
.vscode/*
UML_Univopoly.drawio
inc/*
.qmake.stash
univopoly_qt.app/*
main_qt.o
univopoly_qt.app
univopoly_qt
__MACOSX/Demo/inc/cget/cget/._.DS_Store
*/.DS_Store
moc_sideBar.cpp
moc_predefs.h
moc_Players.cpp
moc_mainWindow.cpp
moc_mainView.cpp
moc_Controllers.cpp
moc_Board_qt.cpp
Makefile
